# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.expo
.next
.turbo
out
build
dist

# Lockfiles
pnpm-lock.yaml
package-lock.json
yarn.lock

# Generated / vendored
*.min.js
*.min.css

# Fonts and binaries
*.woff
*.woff2
*.png
*.ico
*.svg
